// colors
$sidebarColor = #fbfcfd;
$blockColor = #f1f5f8;
$accentColor = #da5a47;
$textColor = #2c3e50;
$borderColor = #eaecef;
$codeBgColor = $blockColor;
$arrowBgColor = #ccc;
// layout
$navbarHeight = 4.2rem;
$sidebarWidth = 16rem;
$contentWidth = 740px;
$homePageWidth = 960px;
// responsive breakpoints
$MQNarrow = 959px;
$MQMobile = 719px;
$MQMobileNarrow = 419px;
// code
$lineNumbersWrapperWidth = 3.5rem;
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py;
$contentClass = '.content__default';

$sidebarButtonColor = $textColor;
$navbarBackgroundColor = #fff;
$navbarTextColor = $textColor;
$navbarActiveLinkColor=$textColor;
$headerBackgroundColor=white;
$sdksBackgroundColor=white;
$featuresBackgroundColor=white;
$footerBackgroundColor=white;

@import '../../styles/config.styl'