@require './config'

.custom-block
  border-radius $radiusSm
  overflow hidden

  .custom-block-title
    font-weight 700
    margin-bottom 0.35rem
    font-size 0.95em

  &.tip, &.warning, &.danger
    padding 0.9rem 1.5rem
    border-left-width 0.3rem
    border-left-style solid
    margin 1.25rem 0

  &.tip
    background-color rgba($accentColor, 0.07)
    border-color $accentColor

  &.warning
    background-color rgba(255, 176, 32, 0.12)
    border-color darken(#ffb020, 15%)
    color darken(#ffb020, 55%)
    .custom-block-title
      color darken(#ffb020, 40%)
    a
      color $textColor

  &.danger
    background-color rgba(220, 38, 38, 0.08)
    border-color darken(#dc2626, 5%)
    color darken(#dc2626, 25%)
    .custom-block-title
      color darken(#dc2626, 15%)
    a
      color $textColor

  &.details
    display block
    position relative
    border-radius $radius
    margin 1.6em 0
    padding 1.4em 1.6em
    background-color $blockColor
    h4
      margin-top 0
    figure, p
      &:last-child
        margin-bottom 0
        padding-bottom 0
    summary
      outline none
      cursor pointer
      font-weight 600
